.main {
  max-width: 900px;
  margin: 0 auto;
}

.block {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.block li {
  background: aquamarine;
  border-radius: 6px;
  padding: 20px 5px;
  border: 2px solid deepskyblue;
  margin-top: 20px;
}
